# ºöÂÔÎÄ¼þ
SimpleMPR.VC.db
SimpleMPR.VC.VC.opendb
/SimpleMPR/SimpleMPR.vcxproj.user
SimpleMPR.sdf
# ºöÂÔÄ¿Â¼
/.vs/*
/Debug/*
/x64/*
/SimpleMPR/Debug/*
/SimpleMPR/x64/*
/SimpleMPR/TOF3D1/*
/QtMprDemo/Debug/*
/QtMprDemo/x64/Debug/*
/QtMprDemo/GeneratedFiles/*
/QtMipDemo/Debug/*
/QtMipDemo/x64/Debug/*
/QtMipDemo/GeneratedFiles/*
/QtSsdDemo/Debug/*
/QtSsdDemo/x64/Debug/*
/QtSsdDemo/GeneratedFiles/*