# ºöÂÔÎÄ¼ş
SimpleMPR.VC.db
SimpleMPR.VC.VC.opendb
/SimpleMPR/SimpleMPR.vcxproj.user
SimpleMPR.sdf
# ºöÂÔÄ¿Â¼
/.vs/*
/Debug/*
/x64/*
/SimpleMPR/Debug/*
/SimpleMPR/x64/*
/SimpleMPR/TOF3D1/*
/QtMprDemo/Debug/*
/QtMprDemo/x64/*